@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes flash-gold {
  0% {
    background: linear-gradient(to bottom right, rgba(168, 85, 247, 0.2), rgba(236, 72, 153, 0.2));
  }
  50% {
    background: linear-gradient(to bottom right, rgba(234, 179, 8, 0.8), rgba(250, 204, 21, 0.8));
  }
  100% {
    background: linear-gradient(to bottom right, rgba(168, 85, 247, 0.2), rgba(236, 72, 153, 0.2));
  }
}

.animate-flash-gold {
  animation: flash-gold 1s ease-in-out infinite;
}
